.App {
  text-align: center;
}

.App h1 {
  margin: 15px 0;
}

.smurfs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: start;
  margin-top: 20px;
}

.smurf-card h1 {
  font-size: 24px;
  margin: 10px;
}

.smurf-card span {
  font-weight: 200;
  font-size: 22px;
}

.smurfs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.show-smurfs {
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px 20px;
}

.smurf-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  border: 1px solid rgb(199, 198, 198);
  margin: 20px;
}

.smurf-form form label {
  margin: 10px;
  font-weight: 600;
}

.smurf-form form input {
  margin: 10px;
  font-size: 17px;
  padding: 5px;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  color: blue;
  width: 120px;
}

#name {
  margin-left: 17px;
}

#age {
  margin-left: 30px;
}

#height {
  margin-left: 14px;
}

.smurf-form form button {
  margin: 10px 0;
  font-size: 18px;
  align-self: center;
  padding: 3px 15px;
  cursor: pointer;
}